[project]
	description = test c++ project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Durgaprasad (Ndurga)
[access "refs/for/refs/*"]
	read = group user/Durgaprasad (Ndurga)
	push = group user/Durgaprasad (Ndurga)
	label-Code-Review = -2..+2 group user/Durgaprasad (Ndurga)
	label-Verified = -1..+1 group user/Durgaprasad (Ndurga)
	rebase = group user/Durgaprasad (Ndurga)
	removeReviewer = group user/Durgaprasad (Ndurga)
	submit = group user/Durgaprasad (Ndurga)
[access "refs/heads/*"]
	read = group user/Durgaprasad (Ndurga)
	create = group user/Durgaprasad (Ndurga)
	push = +force group user/Durgaprasad (Ndurga)
	pushMerge = group user/Durgaprasad (Ndurga)
[access "refs/tags/*"]
	push = group user/Durgaprasad (Ndurga)
	push = +force group user/Durgaprasad (Ndurga)
